* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 20em;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 20em;
    line-height: 40px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 20em;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.intro, .what, .benefits, .about_us, .get_free, .contacts, footer {
    padding: 60px 0;
}

header {
    background-color: #161c35;
    height: 65px;
    position: sticky;
    top:0;
    z-index: 10;
}

header > .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}


/* menu */
.main-menu {
    margin-left: auto;
}

.main-menu > ul > li {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.main-menu > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.main-menu > ul > li:last-child {
    margin-right: 0;
}

.main-menu > ul > li::after {
    content: '';
    width: 10%;
    height: 3px;
    background: tomato;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition-duration: 0.3s;
}

.main-menu > ul > li:hover::after {
    opacity: 1;
    width: 100%;
}



/* спойлер гармошка */

.block__item {
  padding: 0 0 20px 0;
}

.block__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* стрелки */
.block__title:before,
.block__title:after {
  content: '';
  width: 10px;
  height: 1px;  /*толщина стрелки*/
  background-color: #000;
  position: absolute;
  top: 7px;
  transition: all 0.3s ease 0s; /*для плавной смены направления стрелки*/
}

.block__title:before {
  transform: rotate(40deg);
  left: 0;
}

.block__title:after {
  transform: rotate(-40deg);
  left: 8px;
}

.block__title.active:before,
.block__title.active:after {
  background-color: darkred;
}

.block__title.active:before {
  transform: rotate(-40deg);
}

.block__title.active:after {
  transform: rotate(40deg);
}

.block__text {
  padding: 10px 0 0 0;
  display: none;
}
